extends layout
block contenido
    .contenido-principal
        h1 #{nombrePagina}
                p #{proyecto.nombre}
                
        // To-Do - Formulario para agregar tareas
        if(error)
            h2 agrega nombre a la tarea
                

        

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .campo
                label(for="tarea") Agrega una Tarea:
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de la Tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Crear Tarea +")
        
            // To-Do - Listado de las tareas pendientes
        
        
        .listado-pendientes
            ul
                if tareas.length > 0
                    each tarea in tareas
                        li.tarea(data-tarea=tarea.id)
                            p #{tarea.tarea}
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else 
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else
                    p Administra tus tareas aqui!

        //Avance del proyecto
        .avance
            h2 Avance del Proyecto
                #barra-avance.barra-avance
                    #porcentaje.porcentaje
                    
        //acciones del proyecto           
        .contenedor-acciones
            a.boton(href=`/proyecto/editar/${proyecto.id}`) Editar Proyecto
            button#eliminar-proyecto.boton.eliminar(data-proyecto-url= proyecto.url type="button") Eliminar
    //pre= vardump(tareas)        